.CodeMirror.cm-s-light {
  padding: 0px;
  border-radius: 6px;
  background: #fbfaf9;
  color: #3d2c40;
}
.cm-s-light .CodeMirror-gutters {
  background: #000000;
  opacity: 0.04;
  border: 4px solid transparent;
}
.cm-s-light .CodeMirror-linenumber {
  opacity: 0.5;
}
.cm-s-light .cm-comment {
  opacity: 0.6;
}
.cm-s-light .cm-operator {
  opacity: 0.8;
}

.cm-s-light .CodeMirror,
.cm-s-light .CodeMirror-linenumber,
.cm-s-light .cm-property,
.cm-s-light .cm-operator,
.cm-s-light .cm-comment {
  color: #3d2c40;
}
.cm-s-light .cm-keyword {
  color: #8d84e5;
}
.cm-s-light .cm-atom,
.cm-s-light .cm-def {
  color: #3d2c40;
}
.cm-s-light .cm-variable,
.cm-s-light .cm-variable-2 {
  color: #4b93e3;
}
.cm-s-light .cm-number {
  color: #34b277;
}
.cm-s-light .cm-string,
.cm-s-light .cm-string-2 {
  color: #dd6547;
}
