# Ignore script folder
/scripts/*
!/scripts/ext
!/scripts/r

# Ignore certain files
.DS_Store
.ipynb_checkpoints
*.bak
*.exe
!/bin/*.exe
*.log
*.pyc
/variables.*
/variables.json

# Ignore directories
__pycache__/
.coder/
.config/
.idea/
.mypy_cache/
.venv/
/config/
build/
generated/
node_modules/
out/
tmp/
