@import "./font.css";

body {
  margin: 0;
}

.container {
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
  color: white;
}

pre {
  background-color: #09343f;
  border-radius: 1em;
  display: inline-block;
  margin: 0 auto;
  padding: 0.4em 1em;
  text-align: left;
  font-size: 0.8em;
}

p {
  margin: 0;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  text-align: left;
  /* list-style: none; */
  list-style-type: square;
  padding-left: 0.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

blockquote {
  color: black;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 1em;
  line-height: 1.15em;
  margin: 0 auto -0.02em auto;
  padding: 0.2em 2em;
  text-align: center;
  white-space: nowrap;
}

table {
  line-height: 1.5;
  text-align: left;
  box-sizing: border-box;
  border-collapse: collapse;
  /* width: 100%; */
  max-width: 100%;
  margin-bottom: 1rem;
  color: #fff;
  background-color: #212529;
}

tr {
  line-height: 1.5;
  border-collapse: collapse;
  color: #fff;
  box-sizing: border-box;
}

td {
  line-height: 1.5;
  border-collapse: collapse;
  color: #fff;
  box-sizing: border-box;
  padding: 0.75em;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  border-color: #32383e;
  vertical-align: middle;
}

card {
  background: rgba(255, 255, 255, 0.9);
  color: black;
  vertical-align: middle;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5em 2em;
}
