@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500;900&display=swap");

.inner {
  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  min-width: 1920px;
  width: 1920px;
  height: 1080px;
}

.padded {
  padding-left: 54px;
  padding-right: 54px;
}

.cols {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
}

.cols > .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

:is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  font-weight: 500;
}

/* h1 {
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
} */

img {
  display: block;
  max-width: 1024px;
  max-height: 1024px;
  width: auto;
  height: auto;
}
