@import "./base-font.css";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:is(h1, h2) {
  margin-bottom: 0;
  margin-top: 0;
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.5); */
  font-family: "Bebas Neue", "Noto Sans SC";
  font-weight: 500;
  padding: 0.1em 0.5em 0em 0.5em;
  line-height: 1.2em;
  color: black;
  background-color: #fc7281;
}

h1 {
  font-size: 2.6667em;
}

h2 {
  font-size: 2em;
}
