@import "./base_font.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&family=Open+Sans:wght@300&display=swap");

body {
  margin: 0;
}

#content {
  background-color: black;
  color: white;
  display: table-cell;
  /* font-family: "zcool-gdh"; */
  text-align: center;
  vertical-align: middle;
  min-width: 1920px;
  width: 1920px;
  height: 1080px;
}

:is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  font-family: "Open Sans", "Noto Sans SC", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 115px;
}

h2 {
  font-size: 65px;
}
